<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定dao -->
<mapper namespace="com.dyq.mybatis.dao.UserDao">
    <!--  id指定方法名  parameterType指定参数类型 resultType返回参数类型 #{userName}对应User表里面的字段N要大写不然映射报错   -->
    <select id="findByUserName" parameterType="String" resultType="com.dyq.mybatis.model.User">
        select id,userName,password,email from s_user where userName = #{userName}
    </select>

    <!--  id指定方法名  parameterType指定参数类型 useGeneratedKeys自动生成主键 keyProperty主键id   -->
    <insert id="insertUser" parameterType="com.dyq.mybatis.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into s_user(userName, password,email) VALUES(#{userName}, #{password},#{email})
    </insert>

    <delete id="deleteUserById" parameterType="Long">
        delete  from s_user where id = #{id}
    </delete>

    <update id="updatePassword" parameterType="com.dyq.mybatis.model.User">
        update s_user set password = #{password} where userName = #{userName}
    </update>

</mapper>